.nofun{
    color:#fff;
    background-image: url(../Imagenes/Error.jpg);
    height: 720px;
    
}
.texnofun{
    flex: 1;
    padding-top: 360px;

}
.botones {
    background-image: url(../Imagenes/fondoBotones.png);
    background-position: 50% 50%;
}
.masJuegos{
    
    background-image:url(../Imagenes/masJuegos.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 720px;
}
.b1
{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 5px;

}
.textomasjuegos{
    text-align: center;
    flex: 1;
    color: #fff;
    background-color: #000A29c5;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
footer
{
    text-align: center;
    background-color: #000A29;
    height: 150px;
}
.piePagina{
    background-image: url(../Imagenes/15.jpg);
    height: 50px;
    width: 65px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 50%;
    background-size: 100% 100%;


}